<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.thescenery.shopAssist.app.mapper.AppMapper">
  <select id="getAppByOwnerId" resultType="io.thescenery.shopAssist.app.entity.App">
    SELECT *
    FROM t_app
    WHERE owner_id = #{ownerId} AND is_deleted = 0
  </select>
</mapper>